@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: "Poppins"!important;
  font-size: 14px;
  padding: 0px!important;
}

#navbar {
  width: 109%;
  margin-left: -5%;
  border-bottom: 1px solid #f2f2f2;
}

.credit {
  padding: 1em 0em;
}

#credit-summary {
  padding-top: 24px;
}

div#credit-score {
  text-align: center;
}

h5 {
  font-size: 18px!important;
  font-weight: bold!important;
}

div#credit-score h1#score {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: -5px;
}

div#credit-score p {
  font-size: 16px;
  font-weight: normal;
}

div#credit-bar {
  margin-bottom: 1em;
  font-size: 14px;
}

div#credit-bar span:nth-child(3) {
  float: right;
}

button.btn {
    display: inline-block;
    transition: background 0.3s ease-out;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    padding: 12px 40px;
    min-width: 130px;
    border-radius: 4px;
    text-decoration: none;
    background: #fff;
    color: #1A7BB3;
    border: 1px solid #fff;
    width: 100%;

}

.btn:hover,
.btn:focus,
.btn.focus {
  background-color: #333333;
  text-decoration: none;
}

span.icon {
  display: inline-block;
}

.decorated {
  font-weight: bold;
  display: flex;
}

p#bulb::before {
  content: url("../../assets/white bulb.png");
  padding-right: 1em;
  margin-top: 4px;
}

div.credit-cross-sell {
  background: #1A7BB3;
  color: #fff;
  padding: 1em;
  border-radius: 4px;
}

div.credit-detail {
  border-bottom: 1px solid #f2f2f2;
  padding: 1em 0em;
}

div.credit-detail p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 0px;
}

div.credit-detail span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 0.1px;
}

div.credit-detail span.warn {
  color: #bb7400;
}

span.arrow {
  float: right;
  margin-top: 6px;
  width: 10%;
}

div.credit-detail div::before {
  padding-right: 1em;
  margin-top: 6px;
}

div.credit-detail:nth-of-type(1) div::before {
  content: url("../../assets/totalAccounts.png");
}

div.credit-detail:nth-of-type(2) div::before {
  content: url("../../assets/lengthOfCredit.png");
}

div.credit-detail:nth-of-type(3) div::before {
  content: url("../../assets/inquiries.png");
}

div.credit-detail:nth-of-type(4) div::before {
  content: url("../../assets/revolvingUtilization.png");
}

div.credit-detail:nth-of-type(5) div::before {
    content: url("../../assets/missedPayments.png");
}

/* Consent css body */

div.consent-body {
    padding: 6px;
}

p.great-credit-score {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    padding-top: 14px;
    color: #000000;
    text-align: justify;
}

a.learn-more {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1771a6;
    text-decoration: underline;
    padding-top: 20px;
}

p.get-your-credit-score {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #000000;
}

table.products {
    width: 100%;
}

td.product-img {
    text-align: center;
}

td.img-center {
    width: 53%;
}

td.product-names {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    vertical-align: middle;
    text-align: center;
}

p.benefit-items {
    display: table-cell;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    vertical-align: middle;
    text-align: justify;
}

div.line {
    border-bottom: 1px solid #f2f2f2;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.large {
    width: 72px;
    height: 72px;
    object-fit: contain;
}

img.small {
    display: table-cell;
    padding-right: 10px;
    width: 44px;
    height: 44px;
    object-fit: contain;
    vertical-align: middle;
}

/* Consent css footer */

div.consent-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 30px;
    padding-bottom: 15px;
}

div.consent-footer div.line {
    margin-bottom: 20px;
}

button.consent-btn {
    display: inline-block;
    transition: background 0.3s ease-out;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    padding: 12px 40px;
    min-width: 130px;
    border-radius: 4px;
    text-decoration: none;
    background: #1A7BB3;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
}
